*.db
*.egg
*.egg-info
*.gem
*.idea
*.log
*.mo
*.orig
*.py[cod]
*.secret
*.sqlite
*.swp
*.tap
*.DS_Store
.bundle
.config
.coverage
.envrc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.sqlite3-journal
.svn/
.tox/
bower_components/
develop-eggs/
eggs/
node_modules/
coverage
nosetests.xml
npm-debug.log
pip-log.txt
testem.*.*.*.json


aws-config.json
